@charset "UTF-8";
/* font */


@font-face {
	font-family: 'Pretendard-Thin';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
			@font-face {
	font-family: 'Pretendard-ExtraLight';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
			@font-face {
	font-family: 'Pretendard-Light';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
			@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
			@font-face {
	font-family: 'Pretendard-Medium';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
			@font-face {
	font-family: 'Pretendard-SemiBold';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
			@font-face {
	font-family: 'Pretendard-Bold';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
			@font-face {
	font-family: 'Pretendard-ExtraBold';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
			@font-face {
	font-family: 'Pretendard-Black';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
/*
@font-face {
    font-family: 'kg_title';
	font-style: normal;
	font-weight:200;
    src: url('fonts/Title_Light.woff2') format('woff2'),
		 url('fonts/Title_Light.woff') format('woff');
}
@font-face {
    font-family: 'kg_title';
	font-style: normal;
	font-weight:normal;
    src: url('fonts/Title_Medium.woff2') format('woff2'),
		 url('fonts/Title_Medium.woff') format('woff');
}
@font-face {
    font-family: 'kg_title';
	font-style: normal;
	font-weight:bold;
    src: url('fonts/Title_Bold.woff2') format('woff2'),
		 url('fonts/Title_Bold.woff') format('woff');
}

@font-face {
    font-family: 'kg_title_v';
	font-style: normal;
	font-weight:bold;
    src: url('fonts/TitleV.woff2') format('woff2'),
		 url('fonts/TitleV.woff') format('woff');
}

*/

@font-face {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight:200;
    src: url('fonts/Montserrat Light.woff2') format('woff2'),
		 url('fonts/Montserrat Light.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight:normal;
    src: url('fonts/Montserrat Regular.woff2') format('woff2'),
		 url('fonts/Montserrat Regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight:bold;
    src: url('fonts/Montserrat Bold.woff2') format('woff2'),
		 url('fonts/Montserrat Bold.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:200;
    src: url('fonts/NotoSans-Thin.woff2') format('woff2'),
		 url('fonts/NotoSans-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:400;
    src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
		 url('fonts/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:600;
    src: url('fonts/NotoSansKR-Medium.woff2') format('woff2'),
		 url('fonts/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:700;
    src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
		 url('fonts/NotoSansKR-Bold.woff') format('woff');
}