@charset "UTF-8";

/* Layout */
@import url('font.css');
@import url('reset.css');
@import url('slick.css');
@import url('slick-theme.css');
@import url('fullpage.css');
@import url('common.css');
@import url('main_layout.css');
