

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

@import url('font.css');
@import url('reset.css');
@import url('slick.css');
@import url('slick-theme.css');

body {}
html {overflow-x:hidden; scroll-behavior: smooth;}
.wrap {position:Relative; width:1110px; margin:0 auto;}

.tab_content {display:none}
.tab_content.active {display:block}

body {overflow-x:hidden;}
body:before {width:2001px; height:2001px; display:block; content:"";  position:absolute; top:250px; left:calc(50% + 200px); transform: translate(-50%, 0); z-index:2; opacity:0.4; background:url('../images/event/main_icon_bg.png') no-repeat center center;}

#event_main_sec_1 .wrap, 
#event_main_sec_2 .wrap, 
#event_main_sec_3 .wrap {position:relative; z-index:2;}

#event_main_sec_1 .wrap {opacity:0; transform: translate(100px, 0); }
#event_main_sec_1 .logo img { margin-bottom:5px}
#event_main_sec_1 {width:100%; padding-top:210px;  padding-bottom:85px;background: rgb(20,12,47);animation: AnimationName 10s ease infinite;  background: linear-gradient(214deg, rgba(20,12,47,1) 0%, rgba(8,28,41,1) 100%); background: linear-gradient(-45deg, rgba(20,12,47,1), rgba(8,28,41,1), rgba(20,12,47,1), rgba(8,28,41,1)); background-size: 400% 400%; }
#event_main_sec_1 .logo {text-align:center;}
#event_main_sec_1 .text_1 {text-align:center; font-size:42px; color:#fff; font-weight:bold;}
#event_main_sec_1 .text_2 {text-align:center; font-size:15px; color:#fff; line-height:1.75em; padding:20px 0 85px}
#event_main_sec_1 .main_tab {display:inline-block; width:100%; text-align:center;  vertical-align:top;}
#event_main_sec_1 .main_tab {}
#event_main_sec_1 .main_tab .tab_button { display:inline-block;}
#event_main_sec_1 .main_tab .tab_button ul {width:100%;  display:inline-block; text-align:center;  vertical-align:top;}
#event_main_sec_1 .main_tab .tab_button li {display:inline-block; margin:0 20px;}
#event_main_sec_1 .main_tab .tab_button li button {display:inline-block; transition: all 0.75s ease 0s;  padding:0 25px; font-size:14px; font-weight:600; color:#fff; line-height:36px;}
#event_main_sec_1 .main_tab .tab_button li button:hover  {background:#5D6885; }
#event_main_sec_1 .main_tab .tab_button li.active button {background:#5D6885; color:#000; box-shadow:0 0 7px #5D6885; background: linear-gradient(90deg, rgba(43,221,187,1) 0%, rgba(51,173,236,1) 100%);}
#event_main_sec_1 .tab_content {}
#event_main_sec_1 .tab_content .list_box_wrap {font-size:0px; width:calc(100% + 10px); margin-left:-5px;  margin-top:30px; height:285px; display:inline-block; text-align:center; vertical-align:top; }
#event_main_sec_1 .tab_content .list_box_wrap .list_box {width:270px; display:inline-block; margin:0 5px; vertical-align:top;}
#event_main_sec_1 .tab_content .list_box_wrap .list_box a {}
#event_main_sec_1 .tab_content .list_box_wrap .list_box a .img {width:100%; display:inline-block; color:#fff; overflow:hidden}
#event_main_sec_1 .tab_content .list_box_wrap .list_box a .img img {transform:scale(1); transition: all 0.75s ease 0s;}
#event_main_sec_1 .tab_content .list_box_wrap .list_box a:hover .img img {transform:scale(1.1);}
#event_main_sec_1 .tab_content .list_box_wrap .list_box a .text {width:100%; display:inline-block; color:#fff; line-height:1.5em; padding:10px; box-sizing:border-box; font-size:16px;}

#event_main_sec_1 .tab_content .all_btn {width:100%; display:inline-block; vertical-align:top; }
#event_main_sec_1 .tab_content .all_btn a {width:235px; height:43px; line-height:43px;  background: rgb(43,221,187); color:#000; background: linear-gradient(-45deg, #2bddbb, #33adec, #2bddbb, #33adec); background-size: 200% 200%; display:inline-block; font-size:14px; animation: AnimationName 10s ease infinite; font-weight:bold;}
#event_main_sec_1 .tab_content .all_btn a:hover {box-shadow:0 0 7px #5cb4f7;}

.body_active #event_main_sec_1 #num_img span.num_bg{opacity:1;	transition: all 2.5s ease 0s;}
#event_main_sec_1 #main_sec_1_text1 {position:absolute; left:0px; width:100%; text-align:center; top:255px; opacity:0;}
#event_main_sec_1 #main_sec_1_text1 .text_1 {width:802px; height:53px; display:block; margin:0 auto 0; vertical-align:top;	}
#event_main_sec_1 #main_sec_1_text1 .text_1 span {width:100%; height:100%; display:inline-block; background:url('/v3/resource/images/event/text_logo.svg') no-repeat center center; background-size:cover;}
		  
		  
.body_active #event_main_sec_1 .wrap {
	opacity:1;
	transition: all 1.2s ease 0.25s;
	transform: translate(0, 0); 
  -webkit-mask: url(../images/event/building-sprite.png);
          mask: url(../images/event/building-sprite.png);
  -webkit-mask-size: 7500% 100%;
          mask-size: 7500% 100%;
  -webkit-animation: mask-play 1.2s steps(74) forwards;
          animation: mask-play 1.2s steps(74) forwards;
		  animation-delay:0.25s;}

@-webkit-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@-moz-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@-o-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} }


#event_main_sec_2 {width:100%; padding-bottom:95px; background: rgb(23,40,50,1); animation: AnimationName 10s ease infinite;  background: linear-gradient(214deg, rgba(20,12,47,1) 0%, rgba(8,28,41,1) 100%); background: linear-gradient(-45deg, rgba(23,40,50,1), rgba(26,30,41,1), rgba(23,40,50,1), rgba(26,30,41,1)); background-size: 200% 200%; padding-top:85px}

#event_main_sec_2 .sec_2_top {position:relative; width:100%; display:inline-block}	
#event_main_sec_2 .sec_2_top h3 {font-size:18px; color:#fff; font-weight:bold}
#event_main_sec_2 .sec_2_top .sec_2_top_left {width:530px; float:left;}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul {width:100%; display:inline-block; font-size:0px; border-top:3px solid #2cd9bf; margin-top:15px;}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li {width:100%; display:inline-block; padding:20px 0; border-top:1px solid #717171}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li:first-child {border-top:0px;}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .img {float:left; width:184px;}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box {float:right; width:calc(100% - 210px);}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box .title {font-size:16px; color:#fff; font-weight:bold;}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box .text {margin:5px 0 0; font-size:13px; color:#b7b7b7; min-height:65px}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box a {position:relative; color:#02d5ba;padding-right:15px;  font-weight:bold; font-size:14px; transition: all 0.75s ease 0s;}
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box a:before {position:absolute; transition: all 0.5s ease 0s;  right:5px; opacity:0; top:3px; width:13px; height:13px;   background: url(https://unrealsummit16.cafe24.com/site/sec_2_bot_icon.svg) no-repeat right center; content:""; display:block; }
#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box a:hover:before {right:0px; opacity:1; }
#event_main_sec_2 .sec_2_top .sec_2_top_left a.sec_2_top_left_btn {background: rgb(43,221,187); color:#000; background: linear-gradient(-45deg, #2bddbb, #33adec, #2bddbb, #33adec); background-size: 200% 200%; display:inline-block;   animation: AnimationName 10s ease infinite; width:235px; height:43px; text-align:center; font-weight:bold; margin-top:20px;  line-height:41px; color:#000; font-size:13px; color:#000}

#event_main_sec_2 .sec_2_top .sec_2_top_left a.sec_2_top_left_btn:hover {box-shadow:0 0 7px #5cb4f7;}


#event_main_sec_2 .sec_2_top .sec_2_top_right {width:530px; float:right;}
#event_main_sec_2 .sec_2_top .sec_2_top_right .text_1 { color:#9e9e9e; font-size:16px; width:100%; display:inline-block; border-top:3px solid #2cd9bf; margin-top:15px; padding:20px 0} 
#event_main_sec_2 .sec_2_top .sec_2_top_right .sec_2_top_right_btn {font-size:13px; width:235px; height:36px; line-height:34px; text-align:center; box-sizing:border-box; background:transparent;  border: 1px solid;  border-image: linear-gradient(45deg, #2bddbb, #33adec) 1; color:#00ffde; transition: all 0.75s ease 0s;  }
#event_main_sec_2 .sec_2_top .sec_2_top_right .sec_2_top_right_btn:hover {background: rgb(43,221,187); color:#000; background: linear-gradient(-45deg, #2bddbb, #33adec, #2bddbb, #33adec); background-size: 200% 200%;  color:#000; box-shadow:0 0 10px #5cb4f7;}
/*
#event_main_sec_2 { background: rgb(23,40,50); background: linear-gradient(180deg, rgba(23,40,50,1) 0%, rgba(26,31,42,1) 50%, rgba(26,30,41,1) 100%);}
#event_main_sec_1 {width:100%; padding-top:210px;  padding-bottom:85px;background: rgb(20,12,47); background: linear-gradient(214deg, rgba(20,12,47,1) 0%, rgba(8,28,41,1) 100%);}
*/




#event_main_sec_2 .sec_2_mid {margin:90px 0 110px; width:100%; display:inline-block}
#event_main_sec_2 .sec_2_mid h3 {font-size:18px; color:#fff; font-weight:bold}

#event_main_sec_2 .sec_2_mid p.title_text {color:#9e9e9e; font-size:16px; margin:8px 0 20px}
#event_main_sec_2 .sec_2_mid .list {display:inline-block; font-size:0px; width:100%}
#event_main_sec_2 .sec_2_mid .list .list_box {width:330px; vertical-align:top; display:inline-block }
#event_main_sec_2 .sec_2_mid .list .list_box h4 {font-size:18px; padding:18px 0 12px}
#event_main_sec_2 .sec_2_mid .list .list_box p.text {font-size:14px; height:90px; letter-spacing:-0.025em; display:inline-block; color:#fff; font-weight:100; word-break:keep-all;}
#event_main_sec_2 .sec_2_mid .list .list_box a {width:102px; height:36px; transition: all 0.75s ease 0s; line-height:34px; border-width:1px; border-style:solid; font-size:13px; text-align:center;}


#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(2) {margin:0 60px}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(1) {border-top:3px solid #16ce5f}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(1) h4 {color:#08cf5c;}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(1) a {color:#08cf5c; border-color:#08cf5c}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(1) a:hover {background:#08cf5c; color:#fff; box-shadow:0 0 7px #a6ffaf;}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(2) {border-top:3px solid #b5043b}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(2) h4 {color:#e8044a;}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(2) a  {color:#921239; border-color:#b2083e}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(2) a:hover  {background:#921239; color:#fff; box-shadow:0 0 7px #ff899f;}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(3) {border-top:3px solid #32b1e8}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(3) h4 {color:#32b1e8;}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(3) a  {color:#00ffde; border-color:#32b1e8}
#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(3) a:hover  {background:#32b1e8; color:#fff; box-shadow:0 0 7px #b2e2ff;}



#event_main_sec_2 .sec_2_bot {position:relative;  width:100%; display:inline-block; width:100%; height:345px; }
#event_main_sec_2 .sec_2_bot:before {position:absolute; top:0px; left:0px; width:100%; height:345px; display:block; content:""; opacity:0.3; background:url('https://unrealsummit16.cafe24.com/site/sec_2_bot_img.png') no-repeat left top; z-index:1}
#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap {position:relative; z-index:3; padding:50px 80px; box-sizing:border-box; width:100%; height:100%; 	}
#event_main_sec_2 .sec_2_bot:after {position:absolute; top:0px; left:0px; width:100%; height:345px; box-sizing:border-box; display:block; content:""; opacity:0; background:transparent;  border: 6px solid;  border-image: linear-gradient(45deg, #2bddbb, #33adec) 1; z-index:2; transition: all 1s ease 0s;}

#event_main_sec_2 .sec_2_bot:hover:after {opacity:1; box-shadow:0 0 7px #b2e2ff;}
#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap h3 {color:#fff; font-weight:bold; font-size:32px;}
#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap .text_1 {font-size:20px; color:#fff; font-family: 'Noto Sans KR', sans-serif; font-weight:400; line-height:2em; letter-spacing:-0.025em; word-break:keep-all; margin:20px 0 45px}
#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap a {color:#00ffcc}
#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap a span {}
#event_main_sec_2 .sec_2_bot:hover .sec_2_bot_wrap a span {padding:0 20px 0 0; background:url('https://unrealsummit16.cafe24.com/site/sec_2_bot_icon.svg') no-repeat right center;}

#event_main_sec_3 {position:relative; width:100%; height:395px; background-image:url('https://unrealsummit16.cafe24.com/site/event_sec_3_bg.png'); background-repeat:no-repeat; background-position:bottom;background-attachment:fixed; }

#event_main_sec_3 .text {font-size:52px;line-height:1.3em; padding:80px 0 50px;color:#fff;   font-family: 'Noto Sans KR', sans-serif; font-weight:100; text-align:center; }
#event_main_sec_3 a {width:235px; height:59px; line-height:59px; display:block; margin:0 auto; font-weight:bold; font-size:16px; color:#000; text-align:center; background: linear-gradient(-45deg, #2bddbb, #33adec, #2bddbb, #33adec); background-size: 400% 400%; animation: AnimationName 10s ease infinite; }
#event_main_sec_3 a span {padding-right:25px; background:url('../images/event/sec_3_bot_icon.png') no-repeat right center;}
 
@media screen and (max-width:1200px){

	.wrap {width:100%}
	body:before {width:1501px; height:1501px; display:block; content:"";  position:absolute; top:180px; left:calc(50% + 170px); transform: translate(-50%, 0); z-index:2; opacity:0.4; background:url('../images/event/main_icon_bg.png') no-repeat center center; background-size:1500px}


	#event_main_sec_1 .main_tab .tab_button li {margin:0 10px}
	#event_main_sec_1 .tab_content .list_box_wrap .list_box {width:25%; margin:0px; padding:0 5px; box-sizing:border-box;}
	#event_main_sec_1 .tab_content .list_box_wrap .list_box a {width:100%;}
	#event_main_sec_1 .tab_content .list_box_wrap .list_box a img {width:100%}


	#event_main_sec_2 .sec_2_top .sec_2_top_left, #event_main_sec_2 .sec_2_top .sec_2_top_right {width:500px}

	#event_main_sec_2 .sec_2_mid .list {display:flex;}
	#event_main_sec_2 .sec_2_mid .list .list_box {position:relative; width:calc(33.33% - 12px)}
	#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(2) {margin:0 18px}
	#event_main_sec_2 .sec_2_mid .list .list_box p.text {padding-bottom:120px}
	#event_main_sec_2 .sec_2_mid .list .list_box a {position:absolute; bottom:0px; left:0px}



}
@media screen and (max-width:1100px){
	#event_main_sec_2 .sec_2_top .sec_2_top_left, #event_main_sec_2 .sec_2_top .sec_2_top_right {width:460px}
	#event_main_sec_2 .sec_2_bot {width:calc(100% + 60px); margin:0 0 0 -30px}


}


@media screen and (max-width:1000px){
	#event_main_sec_1 {padding-top:150px}
	#event_main_sec_1 .tab_content .list_box_wrap {height:auto}
	#event_main_sec_1 .tab_content .list_box_wrap .list_box {width:50%; margin-bottom:45px; padding:0 10px}


	#event_main_sec_2 .sec_2_top .sec_2_top_left, #event_main_sec_2 .sec_2_top .sec_2_top_right {width:100%;}

	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li {width:calc(50% - 8px); vertical-align:top; border-top:none;}
	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li:nth-child(even) {margin-left:16px}


	#event_main_sec_3 .text {font-size:55px}
}



@media screen and (max-width:800px){


	#event_main_sec_2 .sec_2_mid {margin:60px 0 80px}
	#event_main_sec_1 .text_1 {font-size:36px}
	#event_main_sec_1 .text_2 {font-size:14px;     padding: 20px 0 55px;}
	#event_main_sec_1 .tab_content .list_box_wrap .list_box {margin-bottom:25px; }
	#event_main_sec_1 .tab_content .list_box_wrap .list_box a .text {font-size:15px; min-height:65px;}

	#event_main_sec_2 .sec_2_top .sec_2_top_left ul {padding-top:20px}
	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li {padding:0 0 40px}
	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li:nth-child(even) {}
	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box .text {min-height:auto; margin:10px 0 20px}
	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .img {width:100%;}
	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .img img {width:100%}
	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box {width:100%; margin:15px 0 0 0}
	#event_main_sec_2 .sec_2_top .sec_2_top_left a.sec_2_top_left_btn {margin:0 auto 80px; display:block}

	#event_main_sec_2 .sec_2_top .sec_2_top_right .sec_2_top_right_btn {margin:0 auto; display:block}
	#event_main_sec_2 .sec_2_mid p.title_text {margin:8px 0 30px}
	#event_main_sec_2 .sec_2_mid p.title_text, 
	#event_main_sec_2 .sec_2_top .sec_2_top_left ul li .text_box .title, 
	#event_main_sec_2 .sec_2_top .sec_2_top_right .text_1 {font-size:15px}
	#event_main_sec_2 .sec_2_mid .list .list_box h4 {font-size:16px}
	#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap h3 {font-size:28px}
	#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap .text_1 {font-size:18px; line-height:1.5em}

	#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap {padding:40px 60px}

	#event_main_sec_3 a {height:50px; line-height:50px; font-size:18px}
}

@media screen and (max-width:640px){
	
body:before {width:1000px; height:1000px; background-size:1000px auto;  top:200px; left:calc(50% + 40px); }
	#event_main_sec_1 .main_tab .tab_button li {margin:0px}
	#event_main_sec_2 .sec_2_bot {width: calc(100% + 40px);    margin: 0 0 0 -20px;}
	#event_main_sec_3 {height:auto; padding-bottom:50px; background-size:cover;}
	#event_main_sec_3 .text {font-size:45px}

}
@media screen and (max-width:520px){
	
}

@media screen and (max-width:480px){
	.wrap {width:100%; padding:0 20px}
	body:before {width:500px; height:500px;  top:250px; left:calc(50% + 20px); background-size:500px auto;  }
	#event_main_sec_1 .text_1 {font-size:30px}
	#event_main_sec_1 .text_2 {font-size:13px; word-break:keep-all;    padding: 10px 0 40px;}
	#event_main_sec_1 .text_2 br {display:none;}
	#event_main_sec_1 .main_tab .tab_button li button {padding:0 15px; font-size:13px; line-height:32px;}
	#event_main_sec_1 .tab_content .list_box_wrap .list_box a .text {font-size:13px}
	#event_main_sec_1 .tab_content .list_box_wrap .list_box {margin-bottom:15px; padding:0 5px}
	#event_main_sec_1 .tab_content .all_btn a {width:200px; height:35px; line-height:32px; font-size:13px;}

	#event_main_sec_2 .sec_2_mid .list {display:inline-block}
	#event_main_sec_2 .sec_2_mid .list .list_box {width:100%; }
	#event_main_sec_2 .sec_2_mid .list .list_box:nth-child(2) {margin:30px 0 30px 0}
	#event_main_sec_2 .sec_2_mid .list .list_box p.text {padding:0 0 20px; width:100%; height:auto}
	#event_main_sec_2 .sec_2_mid .list .list_box a {position:relative; bottom:auto; left:auto}

	#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap {padding:30px 45px}

	#event_main_sec_2 .sec_2_bot .sec_2_bot_wrap .text_1 {font-size:16px;     margin: 15px 0 35px;}
	#event_main_sec_3 .text {font-size:35px}
	#event_main_sec_3 a {height:42px; line-height:42px; font-size:16px}
}
@media screen and (max-width:420px){
	#event_main_sec_1 .main_tab .tab_button li button {padding:0 10px;  line-height:28px;}
}