
@import url('font_ch.css');
@import url('reset.css');/*
@import url('slick.css');
@import url('slick-theme.css');
*/


#event_wrap { font-family: 'Pretendard';  font-weight:400; margin-top:0}
#event_main_sec_1 {position:relative; width:100%; height:1000px; overflow:hidden; margin: 0px auto;}
#event_main_sec_1 .visual_mp4 {width:100%; display:inline-block; }
#event_main_sec_1 .visual_mp4 video { -webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;}
#event_main_sec_1 .visual_text_box {position:absolute; top:50%; left:0px; width:100%; opacity:0; display:inline-block; text-align:center; transform: translate(-50px, -50%);}
/*#event_main_sec_1 .visual_text_box .text_box1 img {width: 13.5%}*/
#event_main_sec_1 .visual_text_box .text_box1 img {padding-top: 50px;}

#event_main_sec_1 .visual_text_box .btn_box { text-align: center; vertical-align: middle; margin-bottom: 15px}
#event_main_sec_1 .visual_text_box .btn_box a {font-family: 'KBO-Dia-Gothic_medium'; font-size:28px; 
font-weight:bold; color:#fff; background:#BC7AF2; width:320px; height:80px; line-height:80px; margin:40px auto 0; border-radius: 5px;  } 
#event_main_sec_1 .visual_text_box .btn_box a:hover {box-shadow: 0 0 15px 5px #BC7AF2;transition: all ease 0.4s 0s; color: #000} 


.body_active #event_main_sec_1 .visual_text_box {
	opacity:1;
	transition: all 1.2s ease 0.25s;
	transform: translate(0, -50%); 
  -webkit-mask: url(../images/event/building-sprite.png);
		  mask: url(../images/event/building-sprite.png);
  -webkit-mask-size: 7500% 100%;
		  mask-size: 7500% 100%;
  -webkit-animation: mask-play 1.2s steps(74) forwards;
		  animation: mask-play 1.2s steps(74) forwards;
		  animation-delay:0.25s;}
		  
@-webkit-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@-moz-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@-o-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
@keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} }


.main_title_box h2 { font-sizE:36px; text-align:left; letter-spacing:-0.05em; line-height:1em; width:100%; display: inline-block;  vertical-align: top; font-family:"KBO-Dia-Gothic_medium"; color: #bc5af2; }
.main_title_box p.text_1 { font-sizE:32px; text-align:left; letter-spacing:-0.05em;  width:100%; display: inline-block;  vertical-align: top; margin-top: 15px; margin-bottom: 5px; font-family:"KBO-Dia-Gothic_medium"; color: #bc5af2;}
.main_title_box p.text_2 { font-sizE:24px; text-align:left; letter-spacing:-0.05em;  width:100%; display: inline-block;  vertical-align: top; margin-top: 15px;font-family:"KBO-Dia-Gothic_medium"; color: #fff;}
.main_title_box p.text_3 { font-sizE:24px; text-align:left; letter-spacing:-0.05em;  width:100%; display: inline-block;  vertical-align: top; font-family:"KBO-Dia-Gothic_medium"; color: #fff; margin-top: 15px}


#event_main_sec_2 {position:relative; width:100%; display:inline-block; vertical-align:top; padding:70px 0; background-color: #161A40}
#event_main_sec_2 ul {width:calc(100% + 55px); font-size:0px; margin:50px 0 0 -55px; display:inline-block; text-align: center;}
/*#event_main_sec_2 ul li {width:calc(25% - 26px); padding:20px 25px; margin:0 13px; display:inline-block; height:180px; border:1px solid #141414; border-radius: 15px; vertical-align:top; box-shadow:8px 8px 0px #141414}*/
#event_main_sec_2 ul li {width:calc(20% - 26px); padding:10px 25px; margin:0px; display:inline-block; height:150px;vertical-align:top; border-radius: 0px; border-right: 1px solid #4A4A4A; border-width: 50%}
#event_main_sec_2 ul li:last-child {border-right: none;}
#event_main_sec_2 ul li .title {font-size:24px; color:#fff; width:100%; display:Inline-block ;font-family:"KBO-Dia-Gothic_medium"; color: #BC7AF2}
#event_main_sec_2 ul li .text {font-size: 16px;    color: #fff;     width:100%; display:Inline-block; margin-top:10px;font-family:"KBO-Dia-Gothic_medium";}


#event_main_sec_3 {position:relative; width:100%; display:inline-block; vertical-align:top; padding:70px 0; background:#281E4D; color: #fff;}
#event_main_sec_3 .main_title_box {margin-bottom:30px; font-family:"KBO-Dia-Gothic_medium";  color: #fff; }
#event_main_sec_3 .img_box {width:38%; float:left;  }
#event_main_sec_3 .img_box img {width:100%;border-radius: 15px; }
#event_main_sec_3 .text_box {width:48%; float:left; padding:0 0 0 45px}
#event_main_sec_3 .text_box ul {}
#event_main_sec_3 .text_box ul li {}
#event_main_sec_3 .text_box ul li .title {font-size:32px; font-family:"KBO-Dia-Gothic_medium"; color:#BC7AF2; font-weight:bold; width:100%; display:inline-block; vertical-align:top; line-height:1.2em;color:#BC7AF2; padding-top: 20px}
#event_main_sec_3 .text_box ul li .text {font-size:18px; color:#fff; width:100%; display:inline-block; vertical-align:top; margin-bottom:18px;  font-family:"KBO-Dia-Gothic_medium"}
#event_main_sec_3 .text_box ul li .text em {color:#BC7AF2; font-weight: bold;}
#event_main_sec_3 .text_box ul li .text2 {font-size:18px; color:#fff; width:100%; display:inline-block; vertical-align:top; margin-bottom:8px;  font-family:"KBO-Dia-Gothic_medium"}
#event_main_sec_3 .text_box ul li .text2 a {color:#FF4D97;}

#event_main_sec_3 .text_box ul li .text3 {font-size:14px; color:#fff; width:100%; display:inline-block; vertical-align:top; margin-bottom:8px;  margin-top:8px;font-family:"KBO-Dia-Gothic_medium"}
#event_main_sec_3 .text_box ul li .text3 a {color:#FF4D97;}
#event_main_sec_3 .text_box ul li .text3 em {color: #FF4D97; text-indent: 0.6em;}
#event_main_sec_3 .text_box ul li .text3  em a {color:#FF4D97; }

#event_main_sec_3 .text_box ul li .text4 {font-size:14px; color:#fff; width:100%; display:inline-block; vertical-align:top; margin-bottom:20px;  font-family:"KBO-Dia-Gothic_medium"}
#event_main_sec_3 .text_box ul li .text4 a {color:#FF4D97;}
#event_main_sec_3 .text_box ul li .text4 em {color: #FF4D97; text-indent: 0.6em;}
#event_main_sec_3 .text_box ul li .text4  em a {color:#FF4D97; }
/* #event_main_sec_4 {background:#161A40; padding:70px 0; }*/

/* #event_main_sec_4 ul {display:block; width:calc(100% + 20px); margin:20px 0 0 -20px; font-size:0px; text-align:center;} */
/* #event_main_sec_4 ul li {display:inline-block; width:calc(50% - 50px); margin:0 10px 40px;} */
/* #event_main_sec_4 ul li .text {font-size:18px; color:#000; width:100%; display:inline-block; vertical-align:top; margin-top:5px;  font-family:"KBO-Dia-Gothic_medium"; text-align: left;} */
/* #event_main_sec_4 ul li img {width:100%;} */

#event_main_sec_4 {background:#281E4D; padding:70px 0; }
#event_main_sec_4 li  {
  display: flex; /* 요소들을 가로로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 10px; /* 아이템 간 간격 조정 */
  padding-top: 25px;
}

#event_main_sec_4  li img {
  width:470px; /* 이미지 너비 조정 */
  height: auto; /* 이미지 높이 자동 조정 */
  margin-right: 20px; /* 이미지와 텍스트 사이 간격 조정 */
}

#event_main_sec_4 li .text {
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
  padding-left: 20px;
  margin-right: 70px;
  word-break: keep-all;
}

#event_main_sec_4  li .text h3 {
  font-size: 28px; /* 제목의 글꼴 크기 조정 */
  margin-bottom: 0px; /* 제목과 내용 사이 간격 조정 */
  text-align: left; 
  vertical-align: middle;
  font-family:"KBO-Dia-Gothic_bold"; 
  color: #24B83A;
  word-spacing: -5px;
}
#event_main_sec_4  li .text h4 {
  font-size: 28px; /* 제목의 글꼴 크기 조정 */
  margin-bottom: 0px; /* 제목과 내용 사이 간격 조정 */
  text-align: left; 
  vertical-align: middle;
  font-family:"KBO-Dia-Gothic_bold"; 
  color: #00FFC2;
  word-spacing: -1px;
}
#event_main_sec_4  li .text p {
  font-size: 18px; /* 내용의 글꼴 크기 조정 */
  font-family:"KBO-Dia-Gothic_medium"; 
  color: #fff
}


#event_main_sec_5 {background:#161A40; padding:120px 0; text-align:center; } 
#event_main_sec_5 .main_title_box h2 {font-size: 36px; text-align:left;font-family:"KBO-Dia-Gothic_medium"; color: #bc5af2; }
#event_main_sec_5 .main_title_box p.text_1 {color:#fff; text-align:left; font-size: 24px;}
#event_main_sec_5 .main_title_box p.text_1 em {color:#FF4D97;}
#event_main_sec_5 .btn_box a { font-size:24px; box-sizing:border-box;  text-align:center; width:460px; height:84px; line-height:82px; margin:40px 15px 0; font-family:"KBO-Dia-Gothic_medium";  } 
#event_main_sec_5 .btn_box .btn_1 {color:#fff; background:  #bc5af2; font-size: 28px; }
#event_main_sec_5 .btn_box .btn_1:hover {  box-shadow: 0 0 15px 5px #BC7AF2;transition: all ease 0.2s 0s; color: #161A40} 
#event_main_sec_5 .btn_box .btn_2 {color:#281E4D; background:  #9A9A9A; font-size: 28px;  }
#event_main_sec_5 .btn_box .btn_2:hover {  background:   #222; color: #9A9A9A;transition: all ease 0.2s 0s; } 



#event_main_sec_6 {background:#161A40; padding:70px 0; color:#fff;} 
#event_main_sec_6 .main_title_box h2 {font-size: 36px; text-align:left;font-family:"KBO-Dia-Gothic_medium"; color: #bc5af2; }
#event_main_sec_6 .main_title_box p.text_1 {color:#fff; text-align:left; font-size: 24px;font-family:"KBO-Dia-Gothic_medium";}
#event_main_sec_6 .main_title_box p.text {color:#fff; text-align:left; font-size: 18px;font-family:"KBO-Dia-Gothic_medium";}

#event_main_sec_6 ul { margin:55px 0 0 0; width:100%; display:inline-block;color:#fff;}
#event_main_sec_6 ul li {width:33%;   float:left; text-aligN:center; text-align:center; color:#fff; font-size:26px; letter-spacing:-0.05em; line-height:1.25em; font-weight:bold;}
#event_main_sec_6 ul li span.img {margin-bottoM:20px;}
#event_main_sec_6 ul li span {width:100%; display:inline-block}
#event_main_sec_6 ul li span.text {color:#fff; text-align:center; font-size:22px;font-family:"KBO-Dia-Gothic_medium";margin-bottoM:20px;}






#event_main_sec_7 {position:relative; width:100%; display:inline-block; vertical-align:top; padding:70px 0; background:#281E4D;font-family:"KBO-Dia-Gothic_medium";}
#event_main_sec_7 ul { margin:125px 0 0 0; width:100%; display:inline-block}
#event_main_sec_7 ul li {width:25%;   float:left; text-aligN:center; text-align:center; color:#fff; font-size:20px; letter-spacing:-0.05em; line-height:1.25em; font-weight:bold;}
#event_main_sec_7 ul li span.img {position:relative; margin-bottoM:5px;}
#event_main_sec_7 ul li span.img img {max-width:280px;}
#event_main_sec_7 ul li span.img em {position:absolute; top:-10px; left:10px; width:70px; height:70px; line-height:70px; color:#fff; background:#bc5af2; border-radius:50%}
#event_main_sec_7 ul li span {width:100%; display:inline-block}
#event_main_sec_7 ul li .text2 { font-family:"KBO-Dia-Gothic_light"; font-size:20px; padding-top: 5px;}
#event_main_sec_7 p {text-align:right; width:100%; display:inline-block; margin-top:40px;font-family:"KBO-Dia-Gothic_medium"; color: #D9D9D9}



#event_main_sec_8 {position:relative; width:100%; display:inline-block; vertical-align:top; padding:70px 0; background:#000000;  font-family:"KBO-Dia-Gothic_medium"; } 

#event_main_sec_8 .main_title_box h2 {color:#bc5af2}
#event_main_sec_8 ul {width:100%; display:inline-block; padding:20px 0 0 10px;}
#event_main_sec_8 ul li {position:relative; color:#fff; padding:7px 0 7px 20px; font-size:18px}
#event_main_sec_8 ul li em {color:#FF4D97}
#event_main_sec_8 ul li:before {position:absolute; top:19px; left:2px; width:4px; height:4px; border-radius:50%; background:#fff; content:""; display:block;}




@media screen and (max-width:1000px){

	.main_title_box h2 {font-size:32px}
	.main_title_box p.text_1 {font-size:18px}
	.main_title_box p.text_2 {font-size:18px}
	.main_title_box p.text_3 {font-size:18px}

	#event_main_sec_1 { height:800px;}
	#event_main_sec_1 .visual_text_box .text_1 img {width:480px}
	#event_main_sec_1 .visual_text_box .text_2 {font-size:19px}
	#event_main_sec_1 .visual_text_box .btn_box a {font-size:22px; width:300px; height:60px; line-height:60px ;margin-top: 1px}

	#event_main_sec_2 ul li {height:120px;}
	#event_main_sec_2 ul li .title {font-size:18px;}
	#event_main_sec_2 ul li .text {font-size:13px}
	
	
	#event_main_sec_3 .text_box ul li .title {font-size:28px}
	#event_main_sec_3 .text_box ul li .text {font-size:16px; margin-bottom: 20px;}
	#event_main_sec_3 .text_box ul li .text2 {font-size:16px;}
	#event_main_sec_3 .text_box ul li .text3 {font-size:14px;}

	#event_main_sec_4 li  {
	  margin-bottom: 10px; /* 아이템 간 간격 조정 */padding-top: 20px;
	}	
	#event_main_sec_4  li img {
	  width:100%; /* 이미지 너비 조정 */
	  max-width: 640px;
	  height: auto; /* 이미지 높이 자동 조정 */
	  margin-right: 10px; /* 이미지와 텍스트 사이 간격 조정 */
	}
	#event_main_sec_4  li .text h3 {
	  font-size: 22px; /* 제목의 글꼴 크기 조정 */
	}
	#event_main_sec_4  li .text h4 {
	  font-size: 22px; /* 제목의 글꼴 크기 조정 */
	}
	#event_main_sec_4  li .text p {
	  font-size: 18px; /* 내용의 글꼴 크기 조정 */

	}

	#event_main_sec_5 .main_title_box h2 {font-size: 32px;}
	#event_main_sec_5 .main_title_box p.text_1 {font-size: 24px;}
	#event_main_sec_5 .main_title_box p.text_1 em {color:#FF4D97;}
	#event_main_sec_5 .btn_box a { font-size:14px; box-sizing:border-box;  text-align:center; width:360px; height:84px; line-height:82px;  } 
	#event_main_sec_5 .btn_box .btn_1 {color:#fff; background:  #bc5af2; font-size: 22px; }
	#event_main_sec_5 .btn_box .btn_2 {color:#281E4D; background:  #9A9A9A; font-size: 22px;  }
	
	

	#event_main_sec_6 ul { margin:55px 0 0 0; width:100%; display:inline-block;color:#fff;}
	#event_main_sec_6 ul li {font-size:22px}
	#event_main_sec_6 ul li span.img img {width:140px}
	#event_main_sec_6 ul li span {width:100%; display:inline-block}
	


#event_main_sec_7 ul { margin:55px 0 0 0; }
	#event_main_sec_7 ul li {width:50%; font-size:22px}
	#event_main_sec_7 ul li:nth-child(n+3) {margin-top:10px}
	#event_main_sec_7 ul li span.img em {right:50px; top:10px;}
	#event_main_sec_8 ul li {font-size:16px}
}
@media screen and (max-width:640px){

	.main_title_box h2 {font-size:28px}
	.main_title_box p.text_1 {font-size:22px}
	.main_title_box p.text_2 {font-size:14px; padding-bottom: 25px}
	.main_title_box p.text_3 {font-size:14px; padding-bottom: 25px}
	
	#event_main_sec_1 { height:700px;}
	#event_main_sec_1 .visual_text_box .text_1 img {width:380px}
	#event_main_sec_1 .visual_text_box .text_2 {font-size:18px}
	#event_main_sec_1 .visual_text_box .btn_box a {font-size:20px; width:260px; height:50px; line-height:50px; margin-top: 1px}

	#event_main_sec_2 ul {margin:10px 0 0 -55px;}
	#event_main_sec_2 ul li {width: calc(50% - 26px); height: 100px; vertical-align: top; }
	#event_main_sec_2 ul li:nth-child(n+3) {margin-top: 10px}
	#event_main_sec_2 ul li .title {font-size:16px;}
	#event_main_sec_2 ul li .text {font-size:14px}
	#event_main_sec_2 ul li:nth-last-child(2) {border-right: none;}
	#event_main_sec_2 ul li:nth-last-child(4) {border-right: none;}


	#event_main_sec_3 .img_box {display: none; }
	#event_main_sec_3 .text_box {width:100%; float:left; padding:0 0 0 10px; margin-top: -50px}

	#event_main_sec_3 .text_box ul li .title {font-size:24px}
	#event_main_sec_3 .text_box ul li .text {font-size:15px; margin-bottom: 10px;}
	#event_main_sec_3 .text_box ul li .text2 {font-size:14px;}
	#event_main_sec_3 .text_box ul li .text3 {font-size:11px; letter-spacing: -1px;}
	#event_main_sec_3 .text_box ul li .text4 {font-size:11px; letter-spacing: -1px;}



	#event_main_sec_4 li  {
	  margin-bottom: 10px; /* 아이템 간 간격 조정 */padding-top: 20px;
	}	
	#event_main_sec_4  li img {
	  width:100%; /* 이미지 너비 조정 */
	  max-width: 640px;
	  height: auto; /* 이미지 높이 자동 조정 */
	  margin-right: 10px; /* 이미지와 텍스트 사이 간격 조정 */
	}
	#event_main_sec_4  li .text h3 {
	  font-size: 18px; /* 제목의 글꼴 크기 조정 */
	}
	#event_main_sec_4  li .text h4 {
	  font-size: 18px; /* 제목의 글꼴 크기 조정 */
	}
	#event_main_sec_4  li .text p {
	  font-size: 14px; /* 내용의 글꼴 크기 조정 */
	
	}
	#event_main_sec_5 {padding:70px 0; text-align:left; } 
	#event_main_sec_5 .main_title_box h2 {font-size: 28px;}
	#event_main_sec_5 .main_title_box p.text_1 {font-size: 14px;}
	#event_main_sec_5 .btn_box a {font-size: 18px;    width:220px;    height: 50px;    line-height:48px;    margin: 10px 5px 0;}

	#event_main_sec_6 .main_title_box h2 {font-size: 28px;}
	#event_main_sec_6 .main_title_box p.text_1 {font-size: 14px;}
	#event_main_sec_6 ul li span.img img {width:100px}
	#event_main_sec_6 ul li {font-size:18px}

	#event_main_sec_7 ul li span.img img {width:200px}
	#event_main_sec_7 ul li  {font-size:18px}
	#event_main_sec_7 ul li span.img em {    top: 10px;    right: 10px;    width: 50px;    height: 50px;    line-height: 50px;	font-sizE:18px}
	
	#event_main_sec_8 ul li {font-size:15px}
}
@media screen and (max-width:420px){


	.main_title_box h2 {font-size:22px}
	.main_title_box p.text_1 {font-size:14px;}
	.main_title_box p.text_2 {font-size:14px}


	#event_main_sec_1, 	#event_main_sec_2,	#event_main_sec_3, 	#event_main_sec_4, 	#event_main_sec_5,	#event_main_sec_6,	#event_main_sec_7,	#event_main_sec_8 {padding:50px 0}
	#event_main_sec_1 { height:500px;}
	#event_main_sec_1 .visual_text_box .text_1 img {width:280px}
	#event_main_sec_1 .visual_text_box .text_2 {font-size:16px}
	#event_main_sec_1 .visual_text_box .btn_box a {font-size:18px; width:200px; height:40px; line-height:40px}
	
	#event_main_sec_2 ul {    width: calc(100% + 16px);    margin: 0 0 0 -20px; height: }
	
	#event_main_sec_2 ul li {width: calc(50% - 16px);  margin: 0 8px; padding: 15px 0px;   }
	#event_main_sec_2 ul li:nth-child(n+3) {margin-top:25px}
	#event_main_sec_2 ul li .title {font-size:14px;}
	#event_main_sec_2 ul li .text {font-size:11px}

	#event_main_sec_3 .img_box {width:100%; text-align:center}
	#event_main_sec_3 .img_box img {max-width:380px}
	#event_main_sec_3 .text_box {width:100%; padding:10px 0 0 0}
	#event_main_sec_3 .text_box ul li .title {font-size:20px}
	#event_main_sec_3 .text_box ul li .text {font-size:14px; margin-bottom: 20px;}

	#event_main_sec_4 li  {
	  margin-bottom: 10px; /* 아이템 간 간격 조정 */padding-top: 20px;
	}	
	#event_main_sec_4  li img {
	  width:100%; /* 이미지 너비 조정 */
	  max-width: 480px;
	  height: auto; /* 이미지 높이 자동 조정 */
	  margin-right: 10px; /* 이미지와 텍스트 사이 간격 조정 */
	}
	#event_main_sec_4  li .text h3 {
	  font-size: 16px; /* 제목의 글꼴 크기 조정 */
	}
	#event_main_sec_4  li .text h4 {
	  font-size: 16px; /* 제목의 글꼴 크기 조정 */
	}
	#event_main_sec_4  li .text p {
	  font-size: 10px; /* 내용의 글꼴 크기 조정 */
	
	}
	
    #event_main_sec_5 {padding:50px 0; text-align:left; } 
	
	#event_main_sec_5 .main_title_box h2 {font-size: 22px;}
	#event_main_sec_5 .main_title_box p.text_1 {font-size: 14px;}
	#event_main_sec_5 .btn_box a { font-size:18px; box-sizing:border-box;  text-align:center; width:340px; height:44px; line-height:42px;  } 

	
	
	#event_main_sec_6 .main_title_box h2 {font-size: 22px;}
	#event_main_sec_6 .main_title_box p.text_1 {font-size: 14px;}
	#event_main_sec_6 ul li span.img {margin-bottoM: 10px;}
	#event_main_sec_6 ul li span.img img {width:50px}
	#event_main_sec_6 ul li {font-size:15px}

	#event_main_sec_7 ul li span.img img {width:120px}
	#event_main_sec_7 ul li  {font-size:15px}
	#event_main_sec_7 ul li span.img em {    top:0px;    right: 5px;    width: 40px;    height: 40px;    line-height:40px;	font-sizE:14px}
	

	#event_main_sec_8 ul li {position:relative; color:#fff; padding:10px 0 10px 10px; font-size:12px}
	#event_main_sec_8 ul li:before {position:absolute; top:18px; left:2px; width:3px; height:3px; border-radius:50%; background:#fff; content:""; display:block;}

}