@charset "UTF-8";
/* font */

@font-face {
	font-family: 'Gmarket';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/GmarketSansLight.woff2') format('woff2'),
		url('fonts/GmarketSansLight.woff') format('woff');
}

@font-face {
	font-family: 'Gmarket';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/GmarketSansMedium.woff2') format('woff2'),
		url('fonts/GmarketSansMedium.woff') format('woff');
}

@font-face {
	font-family: 'Gmarket';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/GmarketSansTTFBold.woff2') format('woff2'),
		url('fonts/GmarketSansTTFBold.woff') format('woff');
}

@font-face {
	font-family: 'SpoqaHanSansNeo-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LINESeedKR-Bd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');

	font-style: normal;
}

@font-face {
	font-family: 'LINESeedKR-Th';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: 'LINESeedKR-Rg';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: 'KBO-Dia-Gothic_light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'KBO-Dia-Gothic_medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'KBO-Dia-Gothic_bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/*
@font-face {
    font-family: 'nbg';
	font-weight:normal;
	font-style: normal;
    src: url('fonts/NanumBarunGothic.woff2') format('woff2'),
		 url('fonts/NanumBarunGothic.woff') format('woff');
}


@font-face {
    font-family: 'kg_title';
	font-style: normal;
	font-weight:200;
    src: url('fonts/Title_Light.woff2') format('woff2'),
		 url('fonts/Title_Light.woff') format('woff');
}
@font-face {
    font-family: 'kg_title';
	font-style: normal;
	font-weight:normal;
    src: url('fonts/Title_Medium.woff2') format('woff2'),
		 url('fonts/Title_Medium.woff') format('woff');
}
@font-face {
    font-family: 'kg_title';
	font-style: normal;
	font-weight:bold;
    src: url('fonts/Title_Bold.woff2') format('woff2'),
		 url('fonts/Title_Bold.woff') format('woff');
}

@font-face {
    font-family: 'kg_title_v';
	font-style: normal;
	font-weight:bold;
    src: url('fonts/TitleV.woff2') format('woff2'),
		 url('fonts/TitleV.woff') format('woff');
}

*/

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/Montserrat Light.woff2') format('woff2'),
		url('fonts/Montserrat Light.woff') format('woff');
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Montserrat Regular.woff2') format('woff2'),
		url('fonts/Montserrat Regular.woff') format('woff');
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/Montserrat Bold.woff2') format('woff2'),
		url('fonts/Montserrat Bold.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/NotoSans-Thin.woff2') format('woff2'),
		url('fonts/NotoSans-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
		url('fonts/NotoSansKR-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/NotoSansKR-Medium.woff2') format('woff2'),
		url('fonts/NotoSansKR-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
		url('fonts/NotoSansKR-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Freesentation-1Thin';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Freesentation-2ExtraLight';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Freesentation-3Light';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Freesentation-4Regular';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Freesentation-5Medium';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Freesentation-6SemiBold';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Freesentation-7Bold';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Freesentation-8ExtraBold';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Freesentation-9Black';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;