@charset "UTF-8";

/* Layout */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");
@import url("lsu2025_font.css");
@import url("reset.css");
@import url("slick.css");
@import url("slick-theme.css");
@import url("common.css");
@import url("lsu2025_layout.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");