.sub-visual {
	-moz-transition: all 0.75s ease 0.25s;
	-ms-transition: all 0.75s ease 0.25s;
	-o-transition: all 0.75s ease 0.25s;
	transition: all 0.75s ease 0.25s;
	transform: translate(0, 30px);
	-webkit-transform: translate(0, 30px);
	-moz-transform: translate(0, 30px);
	-ms-transform: translate(0, 30px);
	-o-transform: translate(0, 30px);
	opacity: 0;
}

.sub_menu_2 {
	-moz-transition: all 0.75s ease 0.5s;
	-ms-transition: all 0.75s ease 0.5s;
	-o-transition: all 0.75s ease 0.5s;
	transition: all 0.75s ease 0.5s;
	transform: translate(0, 30px);
	-webkit-transform: translate(0, 30px);
	-moz-transform: translate(0, 30px);
	-ms-transform: translate(0, 30px);
	-o-transform: translate(0, 30px);
	opacity: 0;
}

.active .sub-visual {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	opacity: 1;
}

.active .sub_menu_2 {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	opacity: 1;
}

.tbl_head01 td.td_subject {
	text-align: left !important;
}

#aside {
	display: none
}

.content-title {
	margin: 80px 0 0;
	font-size: 42px;
	letter-spacing: -0.05em;
	font-weight: 400;
	color: #000;
	text-align: center;
	font-weight: bold
}

.content-text {
	font-size: 14px;
	text-align: center;
	margin: 0 0 70px 0;
}



.board_file_box_rep {
	margin-top: 30px;
	margin: 30px auto 0;
	background: linear-gradient(90deg, #2D42DD 0%, #AF47F6 100%);
	color: #fff;
	width: 300px;
	height: 55px;
	line-height: 55px;
	font-weight: bold
}


.num {
	margin: 5px 0;
	padding: 5px 0;
}

.num li {
	position: relative;
	padding: 0px 0 3px 30px;
}

.num ul li:before {
	position: absolute;
	display: inline-block;
	content: '';
}

.num li .item {
	position: absolute;
	left: 0;
	top: 3px;
	z-index: 11;
	background: #fff;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 11px;
	line-height: 18px;
	color: #808495;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #818594;
	overflow: hidden;
	box-sizing: border-box
}

.num>li {
	counter-increment: number;
}

.num>li:before {
	position: absolute;
	left: 0;
	top: 3px;
	z-index: 11;
	background: #fff;
	display: inline-block;
	content: counter(number, decimal);
	width: 20px;
	height: 20px;
	font-size: 11px;
	line-height: 18px;
	color: #808495;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #818594;
	overflow: hidden;
	box-sizing: border-box
}

.num>li>.num li:before,
.num>li>.num li .item {
	display: block;
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	border: none;
	background-color: #3e4363;
	color: #3e4363;
	font-size: 11px;
	content: counter(number, decimal);
}

.num {
	overflow: hidden;
	position: relative;
	counter-reset: number;
}

.num li li {
	margin: 0;
	color: #363636;
	padding-left: 15px;
}

.num li .num li {
	padding-left: 30px
}

.num li li li {
	color: #696969;
}

.num li .bu li:before {
	left: 5px;
	top: 10px;
	width: 5px;
	height: 2px;
	background: #8e99cb;
	content: "";
}

.num li .bu li .bu li:before {
	left: 5px;
	top: 10px;
	width: 2px;
	height: 2px;
	background: #301A4C;
}

.num ul,
.num ol {
	margin: 0;
	padding: 4px 0 4px 0;
}

.num li .num li ul li {
	padding-left: 15px
}


/* 목록(List) */
.bu {
	margin: 5px 0;
}

.bu li {
	position: relative;
	margin: 0;
	padding: 0 0 5px 15px;
	line-height: 1.4em;
	color: #222;
	list-style: none;
	word-break: Keep-all
}

.bu li:before {
	position: absolute;
	display: inline-block;
	content: '';
}

.bu li .num li {
	position: relative;
	padding: 0px 0 5px 30px;
}

.bu>li:before {
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	background: url('../images/template.png') no-repeat -151px -54px;
	content: none
}

.bu li li {
	color: #301A4C;
	padding-left: 15px;
}

.bu li li li {
	color: #301A4C;
}

.bu>li>.bu>li:before {
	left: 5px;
	top: 10px;
	width: 5px;
	height: 2px;
	background: #301A4C;
}

.bu>li>.bu>li .bu>li:before {
	left: 5px;
	top: 10px;
	width: 2px;
	height: 2px;
	background: #301A4C;
}

.bu ul,
.bu ol {
	margin: 0;
	padding: 8px 0 2px 0;
}



.indent {
	margin-top: 15px;
}


h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
	position: relative;
	font-weight: 600;
	font-weight: 400;
	text-align: left;
}

.h3 {
	color: #222;
	margin-top: 40px;
	margin-bottom: 20px;
	letter-spacing: -0.025em;
	color: #000;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
}

.board_btn {
	border: 1px solid #ccc;
	padding: 3px 10px;
	margin: 0 0 0 10px
}


.board_box {
	position: relative;
	margin-bottom: 25px;
	min-height: 165px;
	border: solid 1px #eee;
	box-sizing: border-box;
	background: #fff;
	word-break: keep-all;
}

.board_box .box_wrap {
	padding: 36px 40px;
	border: 4px solid #f4f4f4;
}

.board_box .box_wrap .title {
	font-size: 20px;
	color: #34508e;
	margin-top: 0px;
	line-height: 1.25em;
	margin-bottom: 28px;
	font-weight: normal;
}


@media all and (max-width:640px) {
	.h3 {
		font-size: 18px;
	}

}